<body class="container fondo-pantalla">
<div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 mt-5" *ngFor="let product of productList">
        <div class="card">
          <img [src]="mediaPath + product.imagen" class="card-img-top img-size" alt="Imagen">
          <div class="card-body">
            <h5 class="card-title">{{ product.nombre }}</h5>
            <p class="card-text">{{ product.descripcion }}</p>
            <p class="card-text">Stock: {{ product.stock }}</p>
            <p class="card-text">Precio: {{ product.precio }}</p>
            <button class="btn btn-primary" (click)="showModal(product)">Comprar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p-dialog *ngIf="product" header="Confirmación de compra" [(visible)]="modal" [modal]="true" [responsive]="true">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img [src]="mediaPath + product.imagen" class="card-img" alt="Imagen">
        </div>
        <div class="col-md-8">
          <h5>{{ product.nombre }}</h5>
          <p>{{ product.descripcion }}</p>
          <p>Stock: {{ product.stock }}</p>
          <div class="form-group">
            <label for="cantidad">Cantidad:</label>
            <input type="number" class="form-control" id="cantidad" [(ngModel)]="cantidad">
          </div>
          <div class="form-group">
            <label for="precio">Precio:</label>
            <input type="number" class="form-control" id="precio" value="{{ product.precio }}"  disabled>
          </div>
          <div class="form-group">
            <label for="total">Total:</label>
            <input type="number" class="form-control" id="total" value="{{ cantidad * product.precio }}" onchange="setTotal(product.precio)" disabled>
          </div>
        </div>
      </div>
      <div class="text-right">
        <button type="button" class="btn btn-success" (click)="realizarCompra(product.id,cantidad)">Confirmar</button>
        <button type="button" class="btn btn-danger" (click)="hideModal()">Cancelar</button>
      </div>
    </div>
  </p-dialog>
</body>
