<body class="container fondo-pantalla">
  <div class="col" style="text-align:center;">
    <h1 class="mt-3 border-bottom text">Productos</h1><span *ngIf="admin"><button type="button" class="btn btn-success" (click)="showModalModificacion()">Añadir</button></span>
  </div>

<div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 mt-5" *ngFor="let product of productList">
        <div class="card">
          <img [src]="mediaPath + product.imagen" class="card-img-top img-size" alt="Imagen">
          <div class="card-body">
            <h5 class="card-title">{{ product.nombre }}</h5>
            <p class="card-text">{{ product.descripcion }}</p>
            <p class="card-text">Stock: {{ product.stock }}</p>
            <p class="card-text">Precio: {{ product.precio }}</p>
            <button *ngIf="!admin && product.stock > 0" class="btn btn-primary" (click)="showModalCompra(product)">Comprar</button>
            <div *ngIf="admin">
                <button class="btn btn-warning text-light" (click)="showModalModificacion(product)"><mat-icon>edit</mat-icon></button>
                <button class="btn btn-danger" (click)="deleteProduct(product.id)"><mat-icon>delete</mat-icon></button>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p-dialog *ngIf="product" header="Confirmación de compra" [(visible)]="modalCompra" [modal]="true" [responsive]="true">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img [src]="mediaPath + product.imagen" class="card-img" alt="Imagen">
        </div>
        <div class="col-md-8">
          <h5>{{ product.nombre }}</h5>
          <p>{{ product.descripcion }}</p>
          <p>Stock: {{ product.stock }}</p>
          <div class="form-group">
            <label for="cantidad">Cantidad:</label>
            <input type="number" class="form-control" id="cantidad" [(ngModel)]="cantidad" max="{{product.stock}}" min="1">
          </div>
          <div class="form-group">
            <label for="precio">Precio:</label>
            <input type="number" class="form-control" id="precio" value="{{ product.precio }}"  disabled>
          </div>
          <div class="form-group">
            <label for="saldo">Saldo:</label>
            <input type="number" class="form-control" id="saldo" value="{{ cuentaCompra.saldo }}"  disabled>
          </div>
          <div class="form-group">
            <label for="total">Total:</label>
            <input type="number" class="form-control" id="total" value="{{ cantidad * product.precio }}" onchange="setTotal(product.precio)" disabled>
          </div>
          <div class="form-group">
            <label for="saldofinal">Saldo final:</label>
            <input type="number" class="form-control" id="saldofinal" value="{{ cuentaCompra.saldo - (cantidad * product.precio) }}"  disabled>
          </div>
        </div>
      </div>
      <div class="text-right">
        <button type="button" class="btn btn-success" (click)="realizarCompra(product.id,cantidad)" [disabled]="cantidad > product.stock || cantidad < 1 || cuentaCompra.saldo < (cantidad * product.precio)">Confirmar</button>
        <button type="button" class="btn btn-danger" (click)="hideModalCompra()">Cancelar</button>
      </div>
    </div>
  </p-dialog>


  <p-dialog header="Modificar Producto" [(visible)]="modalModificacion" [modal]="true" [responsive]="true">
    <form [formGroup]="formularioProducto">
      <div>
        <div class="form-group">
          <label for="nombre">Nombre: <span style="color: red" *ngIf="nombre && nombre.invalid && nombre.touched">*</span></label>
          <input type="text" id="nombre" formControlName="nombre" class="form-control">
        </div>
  
        <div class="form-group">
          <label for="descripcion">Descripción: <span style="color: red" *ngIf="descripcion && descripcion.invalid && descripcion.touched">*</span></label>
          <input type="text" id="descripcion" formControlName="descripcion" class="form-control">
        </div>
  
        <div class="form-group">
          <label for="stock">Stock: <span style="color: red" *ngIf="stock && stock.invalid && stock.touched">*</span></label>
          <input type="number" id="stock" formControlName="stock" class="form-control">
        </div>
  
        <div class="form-group">
          <label for="precio">Precio: <span style="color: red" *ngIf="precio && precio.invalid && precio.touched">*</span></label>
          <input type="number" id="precio" formControlName="precio" class="form-control">
        </div>
  
        <div class="form-group">
          <label for="imagen">Imagen:</label>
          <input type="file" id="imagen" (change)="onFileSelected($event)" formControlName="imagen" class="form-control">
        </div>
      </div>
  
      <div class="mt-3">
        <button  type="button"  (click)="enviarFormularioModificacion()" class="btn btn-success" [disabled]="formularioProducto.invalid">Guardar</button>
        <button  type="button"  (click)="hideModalModificacion()" class="btn btn-danger">Cancelar</button>
      </div>
    </form>
  </p-dialog>
</body>
