<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container d-flex justify-content-start-between">
      <div class="navbar-brand">
        <img src="logo.png" alt="Logo" width="40" height="40">
      </div>
  
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="dashboard">Inicio</a>
        </li>
        <li class="nav-item ml-5">
          <a class="nav-link" href="dashboard/productList">Productos</a>
        </li>
      </ul>
      
      <ul class="navbar-nav">
        <!--<div class="dropdown">
          <button class="btn dropdown-toggle nav-link " type="button" id="dropdownPerfil" aria-haspopup="true" aria-expanded="false">
            <img src="icon.png" alt="" class="rounded-circle" width="30" height="30">
            Opciones
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownPerfil">
            <li class="dropdown-item"><a href="#">Enlace 1</a></li>
            <li class="dropdown-item"><a href="#">Enlace 2</a></li>
            <li class="dropdown-item"><a href="#">Enlace 3</a></li>
            <div class="dropdown-divider"></div>
            <li class="dropdown-item"><a href="#">Enlace 4</a></li>
          </ul>
        </div>-->


        <button class="btn nav-link " type="button"  aria-expanded="false">
          <img src="../../../assets/images/icono_pred.png" alt="" class="rounded-circle" width="34" height="30">
          {{nombre}}
        </button>
        <a class="nav-link" href="dashboard/account">Cuenta</a>
        <a class="nav-link" (click)="logout()">Logout</a>
        

      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
