

.formularios{
    width:25%;
}

@media (max-width:400px) {
.formularios{
    width:65%;
}
}


.fondo-pantalla{
    background: url("../../../assets/images/fondo_pantalla.png")  center center fixed; 
    min-width: 100%;
}